<a href="https://colab.research.google.com/github/LishaLukose/Bank-Data-Analytics-Python-and-MySQL/blob/main/Bank_Analysisproject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_excel("Bank Data Analystics.xlsx")

In [ ]:
df.head()

,State Abbr,Account ID,Age,BH Name,Bank Name,Branch Name,Caste,Center Id,City,Client id,...,Term,Int Rate,Total Pymnt,Total Pymnt inv,Total Rec Prncp,Total Fees,Total Rrec int,Total Rec Late fee,Recoveries,Collection Recovery fee
0,PB,0010XLG01,36-45,10420-MUNENDRA SINGH,102-DBS,PATIALA,OBC,100186.0,PATIALA,2.0,...,36 months,0.1065,5863.155187,5833.84,5000.00,0.94,863.16,0.00,0.00,0.00
1,PB,0010XLG02,36-45,10420-MUNENDRA SINGH,102-DBS,PATIALA,OBC,100031.0,PATIALA,3.0,...,60 months,0.1527,1008.710000,1008.71,456.46,1.37,435.17,0.00,117.08,1.11
2,PB,0010XLG03,36-45,10067-AKSHAY KUMAR,102-DBS,JALANDHAR,SC,160051.0,JALANDHAR,4.0,...,36 months,0.1596,3005.666844,3005.67,2400.00,3.32,605.67,0.00,0.00,0.00
3,PB,0010XLG04,46-55,10037-RAJESH PRATAP,102-DBS,SANGRUR,ST,110159.0,SANGRUR,5.0,...,36 months,0.1349,12231.890000,12231.89,10000.00,3.14,2214.92,16.97,0.00,0.00
4,UP,0010XLG05,18-25,10469-MANISH PANDEY,176-DBS,Mathura,OBC,910182.0,MATHURA,6.0,...,60 months,0.1269,3513.330000,3513.33,2475.94,1.50,1037.39,0.00,0.00,0.00

In [ ]:
df.dtypes

 State Abbr                   object
Account ID                    object
Age                           object
BH Name                       object
Bank Name                     object
Branch Name                   object
Caste                         object
Center Id                    float64
City                          object
Client id                    float64
Client Name                   object
Close Client                  object
Closed Date                   object
Credif Officer Name           object
Dateof Birth                  object
Disb By                       object
Disbursement Date             object
Disbursement Date (Years)     object
Gender ID                     object
Home Ownership                object
Loan Status                   object
Loan Transferdate             object
NextMeetingDate               object
Product Code                  object
Grrade                        object
Sub Grade                     object
Product Id                    object
Unnamed: 27                  float64
Purpose Category              object
Region Name                   object
Religion                      object
Verification Status           object
State Abbr                    object
State Name                    object
Tranfer Logic                 object
Is Delinquent Loan            object
Is Default Loan               object
Age _T                       float64
Delinq 2 Yrs                 float64
Application Type              object
Loan Amount                  float64
Funded Amount                float64
Funded Amount Inv            float64
Term                          object
Int Rate                     float64
Total Pymnt                  float64
Total Pymnt inv              float64
Total Rec Prncp              float64
Total Fees                   float64
Total Rrec int               float64
Total Rec Late fee           float64
Recoveries                   float64
Collection Recovery fee      float64
dtype: object

In [ ]:
df['Dateof Birth']=pd.to_datetime(df['Dateof Birth'],errors='coerce')

In [ ]:
df['Closed Date']=pd.to_datetime(df['Closed Date'],errors='coerce')

In [ ]:
df['Disbursement Date']=pd.to_datetime(df['Disbursement Date'],errors='coerce')

In [ ]:
df['NextMeetingDate']=pd.to_datetime(df['NextMeetingDate'],errors='coerce')

In [ ]:
max_date=df['Closed Date'].max()
df['Closed Date']=df['Closed Date'].fillna(max_date)
df['Closed Date']=df['Closed Date'].dt.date

In [ ]:
max_date=df['Disbursement Date'].max()
df['Disbursement Date']=df['Disbursement Date'].fillna(max_date)
df['Disbursement Date']=df['Disbursement Date'].dt.date

In [ ]:
max_date=df['NextMeetingDate'].max()
df['NextMeetingDate']=df['NextMeetingDate'].fillna(max_date)
df['NextMeetingDate']=df['NextMeetingDate'].dt.date

In [ ]:
max_date=df['Dateof Birth'].max()
df['Dateof Birth']=df['Dateof Birth'].fillna(max_date)
df['Dateof Birth']=df['Dateof Birth'].dt.date

In [ ]:
df.rename(columns={'Grrade':'Grade'},inplace=True)

In [ ]:
df.rename(columns={'Age _T':'Age'},inplace=True)

In [ ]:
max_grade=df['Grade'].mode()[0]
df['Grade']=df['Grade'].fillna(max_grade)

In [ ]:
mean_age=df['Age'].mean()
df['Age']=df['Age'].fillna(mean_age)

In [ ]:
df

,State Abbr,Account ID,Age,BH Name,Bank Name,Branch Name,Caste,Center Id,City,Client id,...,Term,Int Rate,Total Pymnt,Total Pymnt inv,Total Rec Prncp,Total Fees,Total Rrec int,Total Rec Late fee,Recoveries,Collection Recovery fee
0,PB,0010XLG01,36-45,10420-MUNENDRA SINGH,102-DBS,PATIALA,OBC,100186.0,PATIALA,2.0,...,36 months,0.1065,5863.155187,5833.84,5000.00,0.94,863.16,0.00,0.00,0.00
1,PB,0010XLG02,36-45,10420-MUNENDRA SINGH,102-DBS,PATIALA,OBC,100031.0,PATIALA,3.0,...,60 months,0.1527,1008.710000,1008.71,456.46,1.37,435.17,0.00,117.08,1.11
2,PB,0010XLG03,36-45,10067-AKSHAY KUMAR,102-DBS,JALANDHAR,SC,160051.0,JALANDHAR,4.0,...,36 months,0.1596,3005.666844,3005.67,2400.00,3.32,605.67,0.00,0.00,0.00
3,PB,0010XLG04,46-55,10037-RAJESH PRATAP,102-DBS,SANGRUR,ST,110159.0,SANGRUR,5.0,...,36 months,0.1349,12231.890000,12231.89,10000.00,3.14,2214.92,16.97,0.00,0.00
4,UP,0010XLG05,18-25,10469-MANISH PANDEY,176-DBS,Mathura,OBC,910182.0,MATHURA,6.0,...,60 months,0.1269,3513.330000,3513.33,2475.94,1.50,1037.39,0.00,0.00,0.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
102640,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.77,NaN,NaN,NaN,NaN
102641,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,40.54,NaN,NaN,NaN,NaN
102642,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,4.76,NaN,NaN,NaN,NaN
102643,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,40.54,NaN,NaN,NaN,NaN
102644,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,22.59,NaN,NaN,NaN,NaN

In [ ]:
df.to_excel("BankData.xlsx",index=False)